mixin socials()
  .socials
    ul.socials__list
      li.socials__item
        a.socials__link(href="#", target="_blank", rel="nofollow" aria-label="instagram.")
          +icon("instagram", 48, 48).socials__icon
      li.socials__item
        a.socials__link(href="#", target="_blank", rel="nofollow" aria-label="facebook.")
          +icon("facebook", 48, 48).socials__icon
      li.socials__item
        a.socials__link(href="#", target="_blank", rel="nofollow" aria-label="twitter.")
          +icon("twitter", 48, 48).socials__icon
      li.socials__item
        a.socials__link(href="#", target="_blank", rel="nofollow" aria-label="podcast.")
          +icon("podcast", 48, 48).socials__icon
