mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__wrapper
        .footer__text-wrapper
          p.footer__text Helsinki, Finland
          p.footer__title Dark sight Art Gallery
        .footer__social
          p.footer__social-text Follow us:
          +socials()
        .footer__copyright-wrapper
          p.footer__copyright-text.footer__copyright-text--center All rights reserved, 2023
          .footer__copyright-container
            p.footer__copyright-text Design by Nelly Dernova
            p.footer__copyright-text Made in Liga A
