//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite
include ./utils/responsive-picture

//- Blocks

include ./blocks/intro
include ./blocks/about
include blocks/main-events
include ./blocks/socials
include ./blocks/feature
include ./blocks/map
include ./blocks/art-picture
include ./blocks/feel-the-art
include blocks/splitting-block
include ./blocks/preloader
include ./blocks/sculptures

//- Mixins

include ./mixins/btn
include mixins/event-card
